#header {
    padding-top: 32px;
    padding-bottom: 34px;
    background-color: #F1F3FF;
    font-family: helvetica;
}
  
#header .header-logo {
    width: 190px;
    height: auto;
}

#header .nav-menu li {
    margin-right: 32px;
    margin-left: 32px;
}
  
#header .nav-menu li a {
    color: black;
    text-decoration: none;
}
  
#header .nav-menu li a.register {
    padding: 10px 20px;
    border-style: solid;
    background-color: #5CB85F;
    color: white;
    border-radius: 5px;
}

#main {
    overflow: hidden;
}

#hero{
    background-color: #F1F3FF;
}

#hero .hero-subtitle{
    font-weight: bold;
}

#hero .hero-description {
    margin-bottom: 30px;
    font-family: helvetica;
  }
  
@media screen and (min-width: 1024px) {
    #hero .hero-description {
        margin-bottom: 0;
    }
}

#hero .hero-image {
    width: 100%;
}
  
@media screen and (min-width: 1024px) {
    #hero .hero-image {
      -webkit-transform: translateX(20%);
              transform: translateX(20%);
    }
}

#hero .hero-cta {
    padding: 10px 20px;
    border-style: solid;
    background-color: #5CB85F;
    color: white;
    font-family: helvetica;
    border-radius: 5px;
}
  
#what-is-bcr {
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: helvetica;
}

#what-is-bcr .img-fluid {
    padding-top: 30px;
}

@media screen and (min-width: 1024px) {
    #what-is-bcr .img-fluid {
        margin-bottom: 0;
    }
}

#why-us .why-us-description-subtitle {
    font-weight: bold;
}

#why-us .col-6{
    border: 1px solid lightgrey;
    padding: 30px;
    width: 300px;
    margin: 10px;
    border-radius: 5%;
    font-family: helvetica;
}

#testimonial {
    padding-top: 70px;
    padding-bottom: 70px;
    font-family: helvetica;
    text-align: center;
}

#testimonial .testimonial-subtitle{
    font-weight: bold;
}

#car-rental .car-rental-description{
    background-color: #0D28A6;
    padding: 80px;
    text-align: center;
    font-family: helvetica;
    color: white;
    border-radius: 10px;
}

#car-rental .car-rental-cta {
    padding: 10px 20px;
    border-style: solid;
    background-color: #5CB85F;
    color: white;
    font-family: helvetica;
    border-radius: 5px;
}

#faq {
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: helvetica;
}

#faq .dropdown{
    position: relative;
    padding: 20px;
    margin-top: 15px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    font-size: 15px;
}

#faq .img-dropdown{
    position: absolute;
}

#footer {
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: helvetica;
}
