#header {
    padding-top: 32px;
    padding-bottom: 34px;
    background-color: #F1F3FF;
    font-family: helvetica;
}
  
#header .header-logo {
    width: 190px;
    height: auto;
}

#header .nav-menu li {
    margin-right: 32px;
    margin-left: 32px;
}
  
#header .nav-menu li a {
    color: black;
    text-decoration: none;
}
  
#header .nav-menu li a.register {
    padding: 10px 20px;
    border-style: solid;
    background-color: #5CB85F;
    color: white;
    border-radius: 5px;
}

#main {
    overflow: hidden;
}

#hero{
    background-color: #F1F3FF;
}

#hero .hero-subtitle{
    font-weight: bold;
}

#hero .hero-description {
    margin-bottom: 30px;
    font-family: helvetica;
  }
  
@media screen and (min-width: 1024px) {
    #hero .hero-description {
        margin-bottom: 0;
    }
}

#hero .hero-image {
    width: 100%;
}
  
@media screen and (min-width: 1024px) {
    #hero .hero-image {
      -webkit-transform: translateX(20%);
              transform: translateX(20%);
    }
}

#hero .hero-cta {
    padding: 10px 20px;
    border-style: solid;
    background-color: #5CB85F;
    color: white;
    font-family: helvetica;
    border-radius: 5px;
}
  
#what-is-bcr {
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: helvetica;
}

#what-is-bcr .img-fluid {
    padding-top: 30px;
}

@media screen and (min-width: 1024px) {
    #what-is-bcr .img-fluid {
        margin-bottom: 0;
    }
}

#why-us .why-us-description-subtitle {
    font-weight: bold;
}

#why-us .list{
    border: 1px solid lightgrey;
    padding: 15px;
    margin: 20px;
    width: 280px;
    border-radius: 5%;
    font-family: helvetica;
}

#testimonial {
    padding-top: 70px;
    padding-bottom: 70px;
    font-family: helvetica;
    text-align: center;
}

#testimonial .testimonial-subtitle{
    font-weight: bold;
}

.carousel {
    margin-top: 2%;
}

.carousel-indicators {
    bottom: -70px;
}

.carousel-indicators .btn {
    border-radius: 50%;
    background-color: #fff;
    margin-left: 10px;
    border: 1px solid #C4C4C4;
}

.carousel-indicators .btni {
    transition: 0.5s;
}

.carousel-indicators .btn:hover {
    background-color: #5cb85f;
    border: 1px solid #5cb85f;
}

.carousel-indicators .btn:hover i {
    color: white;
}

.carousel-indicators .bi-chevron-left,
.carousel-indicators .bi-chevron-right {
    height: 30px;
    width: 30px;
    padding: 5px;
    border-radius: 50%;
    font-size: 15px;
    text-align: center;
}

.carousel-indicators .active {
    color: white;
    background-color: #5CB85F;
    border: none;
    text-align: center;
}

.single-box {
    padding: 30px;
    border-radius: 8px;
    background-color: #F1F3FF;
    height: 200px;
}

.img-area {
    position: absolute;
    margin: 0;
    width: 30%;
}

.img-area img {
    width: 70px;
    height: 70px;
    margin-top: 10px;
    margin-right: 40px;
}

.text-img {
    float: left;
    padding-left: 30%;
    font-size: 12px;
}

.text-img .bi-star-fill {
    color: #F9CC00;
}

.text-img .bi-star-half {
    color: #F9CC00;
}

.fa-solid {
    color: #F9CC00;
}

#car-rental .car-rental-description{
    background-color: #0D28A6;
    padding: 80px;
    margin-top: 50px;
    text-align: center;
    font-family: helvetica;
    color: white;
    border-radius: 10px;
}

#car-rental .car-rental-cta {
    padding: 10px 20px;
    border-style: solid;
    background-color: #5CB85F;
    color: white;
    font-family: helvetica;
    border-radius: 5px;
}

#faq {
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: helvetica;
}

#faq .dropdown{
    position: relative;
    padding: 20px;
    margin-top: 15px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    font-size: 15px;
}

#footer {
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: helvetica;
}